.act-container {
    display: grid;
	grid-template-columns: calc(50% - 15px) calc(50% - 15px);
}

.act {
    width: 100%;
    position: relative;
}

.act:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.act-img {
    border-radius: 10px;
    margin: 20px;
    opacity: .7;
    overflow: hidden;
}

.act-title {
    text-align: center;
    margin-bottom: 30px;
}

.act-img:hover {
    opacity: 1;
    transform: translateY(0);
    transition: transform 0.28s ease, opacity .4s;
}

.act-img img {
    position: absolute;
    width: 95%;
    height: 95%;
    object-fit: cover;
    margin: auto;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 7px 7px 30px #ccc;
}

.act-info {
    position: absolute;
    text-align: center;
	position: absolute;
	top: 50%;
	left: 55%;
	transform: translate(-50%, -50%);
    text-align: center;
}
